In [1]:
#Importando a biblioteca pandas
import pandas as pd

In [5]:
#Efetuando a leitura da base de dados, utilizando um separador ";"
df = pd.read_csv("/content/drive/MyDrive/Curso_Python_Pandas_Digital_Innovation-master/datasets/Gapminder.csv", error_bad_lines=False, sep=";")

In [6]:
#Visualizando as 5 primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [8]:
#Total de linhas e colunas
df.shape

(3312, 6)

In [9]:
#Retornando a relação de colunas do DataFrame
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [11]:
#Retornando o tipo de dados
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [14]:
#Retornando as ultimas linhas desse conjunto de dados
df.tail(15)

       country continent  year  lifeExp       pop    gdpPercap
3297    Zambia    Africa  1997   40.238   9417789  1071.353818
3298    Zambia    Africa  2002   39.193  10595811  1071.613938
3299    Zambia    Africa  2007   42.384  11746035  1271.211593
3300  Zimbabwe    Africa  1952   48.451   3080907   406.884115
3301  Zimbabwe    Africa  1957   50.469   3646340   518.764268
3302  Zimbabwe    Africa  1962   52.358   4277736   527.272182
3303  Zimbabwe    Africa  1967   53.995   4995432   569.795071
3304  Zimbabwe    Africa  1972   55.635   5861135   799.362176
3305  Zimbabwe    Africa  1977   57.674   6642107   685.587682
3306  Zimbabwe    Africa  1982   60.363   7636524   788.855041
3307  Zimbabwe    Africa  1987   62.351   9216418   706.157306
3308  Zimbabwe    Africa  1992   60.377  10704340   693.420786
3309  Zimbabwe    Africa  1997   46.809  11404948   792.449960
3310  Zimbabwe    Africa  2002   39.989  11926563   672.038623
3311  Zimbabwe    Africa  2007   43.487  12311143   469.709298

In [16]:
#Retornando informações estatísticas
df.describe()

              year      lifeExp           pop      gdpPercap
count  3312.000000  3312.000000  3.312000e+03    3312.000000
mean   1980.301630    65.246871  3.161489e+07   11317.115805
std      16.927294    11.768412  1.041193e+08   11369.142739
min    1950.000000    23.599000  5.941200e+04     241.165877
25%    1967.000000    58.337500  2.678572e+06    2514.625266
50%    1982.000000    69.610000  7.557218e+06    7838.505123
75%    1996.000000    73.657750  1.958522e+07   17357.879170
max    2007.000000    82.670000  1.318683e+09  113523.132900

In [17]:
#Efetuando filtros do nosso conjunto de dados
df['continent'].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [18]:
#Determinando um novo DataFrame
Oceania = df.loc[df["continent"] == "Oceania"]
Oceania.head()

    country continent  year  lifeExp     pop    gdpPercap
975    Fiji   Oceania  1962   56.494  421869  2039.393277
976    Fiji   Oceania  1967   58.607  485000  2170.073285
977    Fiji   Oceania  1972   60.642  544000  2797.759484
978    Fiji   Oceania  1977   62.669  599339  3182.569600
979    Fiji   Oceania  1982   64.683  658906  3209.257468

In [20]:
Oceania["continent"].unique()

array(['Oceania'], dtype=object)

In [21]:
#Agrupamento de dados | Informando a quantidade de paises em cada continente.
df.groupby("continent")["country"].nunique()

continent
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: country, dtype: int64

In [22]:
#Identificando em cada país qual a expectativa média em cada ano
df.groupby("year")["lifeExp"].mean()

year
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
1955    67.806757
1956    67.950637
1957    51.614590
1958    68.815936
1959    68.226579
1960    68.470837
1961    68.862480
1962    54.035234
1963    69.595735
1964    70.063105
1965    70.259881
1966    70.447526
1967    56.263629
1968    70.689081
1969    70.653896
1970    70.961141
1971    71.103976
1972    58.474481
1973    71.500338
1974    71.778504
1975    71.939218
1976    72.158050
1977    60.429090
1978    72.717567
1979    73.018717
1980    73.064524
1981    73.337399
1982    62.365871
1983    73.787778
1984    74.100741
1985    74.112222
1986    74.452222
1987    63.984860
1988    74.760000
1989    74.924444
1990    74.283437
1991    74.374848
1992    65.008443
1993    74.324545
1994    74.456667
1995    74.552727
1996    75.029394
1997    65.873799
1998    75.569697
1999    75.703636
2000    76.026364
2001    76.257879
2002    66.835695
2003    76.586667
2004    76.921563
2005    76.718667
2006    77.887778
2007    67.868557
Name: lifeExp, dtype: float64

In [23]:
#Determinado a média de expectativa de vida
df["gdpPercap"].mean()

11317.115804696637

In [24]:
#Determinando o somatório de expectativa de vida
df["gdpPercap"].sum()

37482287.5451553